*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}

:root{

    /* COLOR  */
    --color-green-bg: #009988;
    --color-gray-bg: #DCDBD1;
    --color-gray-header: #EAEAEA;
    --color-gray-bg_input: #F4EEE9;
    --color-gray-bg_contacts: #fff;
    --color-gray_black-button_head: #B1B1B1;
    --color-gray_black-button_foot: #697376;
    --color-blue-notif: #75DCFF;
    --color-message_sent: #CBFBB3;
    --color-message_received: #FFF;
    --color-text_name: black;
    --color-text_message: lightgray;

    /* DARK MODE  */
    --dark-gray-bg: #23242E;
    --dark-gray-header: #151515;
    --dark-gray-bg_input: #0B1116;
    --dark-gray-bg_contacts: #000000;
    --dark-gray_black-button_head: #4E4E4E;
    --dark-gray_black-button_foot: #968C89;
    /* --dark-blue-notif: #75DCFF; */
    --dark-message_sent: #34044C;
    --dark-message_received: #1A222A;
    /* --dark-text_name: white; */
    /* --dark-text_message: lightgray; */
    
    /* UTILITIES SIZING  */
    --height-app-header: 80px;
    --height-app-popup: 100px;
    --height-app-contact_card: 100px;

    --height_width-card_image: 80px;
    --height_width-profile_image: 60px;
}