/* APP */
#my_bg_app{
    background: rgb(0,153,136);
    background: linear-gradient(180deg, rgba(0,153,136,1) 20%, rgba(220,219,209,1) 20%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#my_app{
    height: 90%;
    width: 70%;
    background-color: var(--color-gray-bg);
    display: flex;
}

/* APP CONTACTS */
#my_app > .my_app-contacts{
    height: 100%;
    width: 40%;
    background-color: red;
}

/* CONTACTS HEADER */
#my_app .my_app-contacts .my_app-contacts-header{
    height: var(--height-app-header);
    width: 100%;
    background-color: var(--color-gray-header);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my_app-contacts-header .contacts_header-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contacts_header-left .profile_image{
    width: var( --height_width-profile_image);
    height: var( --height_width-profile_image);
    border-radius: 50%;
    margin-right: 10px;
}
.contacts_header-left .profile_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.my_app-contacts-header .contacts_header-left h3{
    color: var(--color-text_name);
}
.my_app-contacts-header .contacts_header-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.my_app-contacts-header .contacts_header-right i{
    padding: 10px;
    font-size: 1.1rem;
    color: var(--color-gray_black-button_head);
    cursor: pointer;
}

/* CONTACTS POP-UP */
#my_app .my_app-contacts .my_app-contacts-popup{
    height: var(--height-app-popup);
    width: 100%;
    background-color: var(--color-blue-notif);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;


}
.my_app-contacts-popup .pop_left{
    padding: 20px 0;
    margin-right: 10px;
}
.pop_left .pop_icon{
    width: var( --height_width-card_image);
    height: var( --height_width-card_image);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--color-gray-bg_contacts);
    color: var(--color-blue-notif);

}
.my_app-contacts-popup .pop_right a{
    color: var(--color-gray_black-button_foot);
}

/* CONTACTS FOOTER */
#my_app .my_app-contacts .my_app-contacts-footer{
    height: calc(100% - (var(--height-app-header)));
    width: 100%;
    background-color: var(--color-gray-bg_contacts);
}

/* FOOTER SEARCH */
.my_app-contacts-footer .contacts_footer-search{
    width: 100%;
    height: 50px;
    padding: 5px;
    background-color: var(--color-gray-header);
}
.contacts_footer-search .contacts_footer-search_input{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-gray-bg_contacts);
    border-radius: 10px;
}
.contacts_footer-search_input .input_text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}
.contacts_footer-search_input .input_search{
    width: 80%;
    height: 100%;
    padding: 0 10px;
    border-left: 2px solid var(--color-gray-header);
}
.contacts_footer-search_input input{
    width: 100%;
    height: 100%;
    border: none;
}

/* FOOTER LIST-CONTACTS */
.my_app-contacts-footer .contacts_footer-list{
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;
    /* padding: 10px; */
}

.contacts_footer-list .list_contacts-card{
    width: 100%;
    /* height: var(--height-app-contact_card); */
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-gray-header);
    padding: 20px 0;
    position: relative;
}

.list_contacts-card .card_left{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_left .card_image{
    width: var( --height_width-card_image);
    height: var( --height_width-card_image);
    border-radius: 50%;

}
.card_left .card_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}

.list_contacts-card .card_center{
    width: calc(100% - 150px);
}
.list_contacts-card .card_center span,
.list_contacts-card .card_right span{
    font-size: .9rem;
    font-weight: 300 ;
}
.list_contacts-card .card_center h3{
    color: var(--color-text_name);
    margin-bottom: 5px;
}

.list_contacts-card .card_right{
    width: 50px;
}



/* APP CHATS  */
#my_app > .my_app-chats{
    height: 100%;
    width: 60%;
    background-color: blue;
}

/* CHATS HEADER  */
#my_app .my_app-chats .my_app-chats-header{
    height: var(--height-app-header);
    width: 100%;
    background-color: var(--color-gray-header);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my_app-chats-header .chats_header-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.chats_header-left .profile_sent_image{
    width: var( --height_width-profile_image);
    height: var( --height_width-profile_image);
    border-radius: 50%;
    margin-right: 10px;
}
.chats_header-left .profile_sent_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.chats_header-left .profile_sent_name h3{
    color: var(--color-text_name);
}
.chats_header-left .profile_sent_name span{
    font-size: .9rem;
    font-weight: 300 ;
}
.my_app-chats-header .chats_header-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.my_app-chats-header .chats_header-right i{
    padding: 10px;
    font-size: 1.1rem;
    color: var(--color-gray_black-button_head);
    cursor: pointer;
}

/* CHATS BODY  */
#my_app .my_app-chats .my_app-chats-body{
    height: calc(100% - (var(--height-app-header) * 2) );
    width: 100%;
    background-image: url(../img/mine.jpg);
    padding: 20px;
    overflow-y: auto;
}

.my_app-chats-body .chats_body-row{
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    text-align: start;

}
.my_app-chats-body .chats_body-row.sent{
    justify-content: flex-end;
}
.my_app-chats-body .chats_body-row.received{
    justify-content: flex-start;
}

.chats_body-row .box_message{
    display: inline-block;
    min-width: 10%;
    max-width: 60%;
    min-height: 20px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.chats_body-row.sent .box_message{
    background-color: var(--color-message_sent);
    
}
.chats_body-row.received .box_message{
    background-color: var(--color-message_received);
}

.my_app-chats-body .box_message .box_message-text{
    padding-bottom: 10px;
}
.my_app-chats-body .box_message .box_message-time{
    font-size: .5rem;
    color: var(--color-text_message);
    font-weight: 700;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/* MENU MESSAGE  */
.list_contacts-card i.fa-angle-down,
.box_message i.fa-angle-down{
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 2px 0 2px 10px;
    cursor: pointer;
}
.chats_body-row.sent .box_message i.fa-angle-down{
    background-color: var(--color-message_sent);
    -webkit-box-shadow: -10px 2px 25px 10px var(--color-message_sent); 
    box-shadow: -10px 2px 25px 10px var(--color-message_sent);
    
}
.chats_body-row.received .box_message i.fa-angle-down{
    background-color: var(--color-message_received);
    -webkit-box-shadow: -10px 2px 25px 10px var(--color-message_received); 
    box-shadow: -10px 2px 25px 10px var(--color-message_received);
}
.list_contacts-card:hover i.fa-angle-down,
.box_message:hover i.fa-angle-down{
    display: inline-block;
}
.box_message  .menu_message_info,
.list_contacts-card .menu_message,
.box_message .menu_message{
    width: 150px;
    padding: 15px;
    background-color: white;
    position: absolute;
    z-index: 10;
    top: 90%;
    right: 10px;
    -webkit-box-shadow: -10px 2px 25px 0px var(--color-gray-header); 
    box-shadow: -10px 2px 25px 0px var(--color-gray-header);
}
.box_message  .menu_message_info{
    width: 300px;
    z-index: 15;
}

.box_message  .menu_message_info > div,
.list_contacts-card .menu_message > div,
.box_message .menu_message > div{
    cursor: pointer;
}

.list_contacts-card .menu_message > div:first-child:hover,
.box_message .menu_message > div:first-child:hover{
    color: blue;
}
.list_contacts-card .menu_message > div:last-child:hover,
.box_message .menu_message > div:last-child:hover{
    color: red;
}
.list_contacts-card .menu_message,
.chats_body-row.sent .box_message  .menu_message_info,
.chats_body-row.sent .box_message .menu_message{
    right: 10%;
    border-radius: 15px 0 15px 15px;
    
}
.chats_body-row.received .box_message  .menu_message_info,
.chats_body-row.received .box_message .menu_message{
    left: 50%;
    border-radius: 0 15px 15px 15px;

}
.box_message .menu_message .message_info{
    margin-bottom: 10px;
}

.menu_message_info{
    pointer-events: none;
}
.menu_message_info .message_info-close{
    pointer-events: auto;
    text-align: center;
    margin-top: 10px;
    color: gray;
}
.menu_message_info .message_info-close i{
    padding: 5px;
    font-size: 1.2rem;
}
.menu_message_info .message_info-close i:hover{
    color: red;
}

.menu_message_info .message_info-status,
.menu_message_info .message_info-date{
    color: lightseagreen;
}
/* CHATS FOOTER  */
#my_app .my_app-chats .my_app-chats-footer{
    height: var(--height-app-header);
    width: 100%;
    background-color: var(--color-gray-bg_input);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my_app-chats-footer .footer_input-left,
.my_app-chats-footer .footer_input-right{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.my_app-chats-footer .footer_input-center{
    width: 80%;
    height: 100%;

}
.my_app-chats-footer .footer_input-center input{
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 20px;
}

.my_app-chats-footer .footer_input-left span,
.my_app-chats-footer .footer_input-right span{
    padding: 10px;
    font-size: 1.1rem;
    color: var(--color-gray_black-button_foot);
    cursor: pointer;
    padding: 0 10px;
}


/* DINAMIC */

/* CONTACTS FOOTER --------- ACTIVE POP-UP*/
#my_app .my_app-contacts .my_app-contacts-footer.active__popup{
    height: calc(100% - (var(--height-app-header) + var(--height-app-popup))) !important;
}

/* FOOTER LIST-CONTACTS --------- ACTIVE CARD*/
.list_contact-active i.fa-angle-down,
.list_contact-active{
    background-color: var(--color-gray-header);
}
