<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Boolzapp</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <div id="app">
        <div id="my_bg_app">
            <div id="my_app">

                <!-- APP CONTACTS -->
                <div class="my_app-contacts">
                    <!-- CONTACTS HEADER -->
                    <div class="my_app-contacts-header">
                        <div class="contacts_header-left">
                            <div class="profile_image">
                                <img :src="'img/avatar'+user.avatar+'.jpg'" :alt="user.name">
                            </div>
                            <h3>
                                {{user.name}}
                            </h3>
                        </div>
                        <div class="contacts_header-right">
                            <i class="fa-solid fa-message" :class="menuChat == true? 'active': '' " @click="menuChat = !menuChat"></i>
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                        <div class="menu_chat" v-if="menuChat == true" >
                            <div @click="" >Create new contact</div>
                            <div @click="" >Create new chat</div>
                            <div class="my_button_delete"  @click="deleteChatList(contactActive,index)" >Delete current chat</div>
                            <div class="my_button_delete" @click="deleteAllChats()" >Delete all chat</div>
                        </div>
                    </div>

                    <!-- CONTACTS POP-UP -->
                    <div class="my_app-contacts-popup" v-if="activePopUp == true">
                        
                        <div class="pop_left">
                            <span class="pop_icon">
                                <i class="fa-solid fa-bell-slash fa-2x"></i>
                            </span>
                        </div>
                        
                        <div class="pop_right">
                            <h5>
                                Ricevi notifiche di nuovi messaggi
                            </h5>
                            <span>
                                <a @click="activePopUp = false" href="#">Attiva notifiche desktop</a>
                            </span>
                        </div>
                    </div>

                    <!-- CONTACTS FOOTER -->
                    <div class="my_app-contacts-footer" :class="(activePopUp == true)? 'active__popup': '' ">

                        <!-- FOOTER SEARCH-->
                       <div class="contacts_footer-search">
                            <div class="contacts_footer-search_input">
                                <div class="input_text"><i class="fa-solid fa-magnifying-glass"></i></div>
                                <!-- <div class="input_text"><i class="fa-solid fa-xmark"></i></i></div> -->            <!--translate x con testo-->
                                <div class="input_search">
                                    <input type="search" placeholder="Cerca o inizia una nuova chat" v-model="searchContact" @keyup="searchFilter()">
                                </div>
                            </div>
                       </div> 

                       <!-- FOOTER LIST-CONTACTS-->
                       <ul class="contacts_footer-list">
                        <template v-for="(item, index) in contacts">
                            <li class="list_contacts-card"  v-if="item.visible" :class="(contactActive == index) ? 'list_contact-active' : '' " @click="contactActive = index">
                               <div class="card_left">
                                    <div class="card_image">
                                        <img :src="'img/avatar'+item.avatar+'.jpg'" :alt="item.name">
                                    </div>
                                </div>
                                <div class="card_center">
                                    <h3>
                                        {{item.name}}
                                    </h3>
                                    <span>
                                        {{lastMessage(index)}}
                                    </span>
                                </div>
                                <div class="card_right">
                                    <span>
                                        {{lastMessageTime(index)}}
                                    </span>
                                </div>
                                <i class="fa-solid fa-angle-down" @click="menuMesssageOpenList(item, index)"></i>
                                <div class="menu_message" v-if="item.statusMenuList == true">
                                    <div @click="deleteChatList(contactActive,index)" >Delete chat</div>
                                </div>
                            </li>
                        </template>
                    </ul>
                    </div>
                </div>

                <!-- APP CHATS -->
                <div class="my_app-chats" >

                    <!-- CHATS HEADER-->
                    <div class="my_app-chats-header">
                         <div class="chats_header-left"  >   <!--v-for="(item,index) in contacts" -->
                            <div class="profile_sent_image">
                                <img :src="'img/avatar'+contacts[contactActive].avatar+'.jpg'" :alt="contacts[contactActive].name" v-if="emptyList==false">
                            </div>
                            <div class="profile_sent_name">
                                <h3 v-if="emptyList==false">
                                    {{contacts[contactActive].name}}
                                </h3>
                                <span v-if="emptyList==false">
                                    Ultimo accesso oggi alle {{lastMessageTimeReceived(contactActive)}}
                                </span>
                            </div>
                        </div>
                        <div class="chats_header-right">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div> 

                    <!-- CHATS BODY-->
                    <div class="my_app-chats-body">
                        <!-- MESSAGE  -->
                        
                        <div class="chats_body-row" v-for="(item, index) in contacts[contactActive].messages" :class="(item.status == 'sent') ? 'sent' : 'received'" v-if="emptyList==false"> <!--:class="item.status"-->
                            <div class="box_message" @click.prevent.right="menuMesssageOpen(item, index)" >
                                    <p class="box_message-text">
                                        {{item.message}}
                                    </p>
                                    <span class="box_message-time">
                                        {{newDateMessageSimple(item.date)}}
                                    </span>
                                    <i class="fa-solid fa-angle-down" @click="menuMesssageOpen(item, index)"></i>
                                    <div class="menu_message" v-if="item.statusMenu == true">
                                        <div class="message_info" @click="openMenuInfo(item, index)">Message info</div>
                                        <div @click="deleteMessage(contactActive,index)" >Delete message</div>
                                    </div>
                                    <div class="menu_message_info" v-if="item.statusMenuInfo == true">
                                        <div class="message_info">Data e orario: <span class="message_info-date">{{item.date}}</span></div>
                                        <div>Stato messaggio: <span class="message_info-status">{{item.status}}</span> </div>
                                        <div @click="item.statusMenuInfo = !item.statusMenuInfo" class="message_info-close"><i class="fa-solid fa-xmark"></i></div>
                                    </div>
                            </div>
                        </div>
                        
                    </div>
                    
                    <!-- CHATS FOOTER-->
                    <div class="my_app-chats-footer">
                        <div class="footer_input-left">
                            <span>
                                <i class="fa-regular fa-face-smile"></i>
                            </span>
                        </div>
                        <div class="footer_input-center">
                            <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendNewMessage ()">
                        </div>
                        <div class="footer_input-right">
                            <span>
                                <i class="fa-solid fa-microphone" v-if="(newMessage == '')"></i>
                                <i class="fa-solid fa-paper-plane" @click="sendNewMessage ()" v-else></i>    <!--translate x con testo-->
                            </span>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.2.1/build/global/luxon.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>